.wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  padding: 28px 15%;
}
.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.indexWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 500;
}
.index {
  font-size: 30px;
  font-weight: 700;
}
.buttonsWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.panel {
  border: 1px solid #e4e4e4;
  background-color: #fcfcfc;
  padding: 50px 45px;
  min-height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
