.button {
  font-family: "Montserrat", sans-serif;
  width: 92px;
  height: 42px;
  padding: 11px 17px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.primary {
  background-color: #1b3646;
  color: #ffffff;
}
.secondary {
  background-color: #ffffff;
  border: 1px solid #595959;
  color: #595959;
}
